axion.id.vn, www.axion.id.vn {
    # Thư mục chứa code web React
    root * /usr/share/caddy

    # Bật nén file cho nhẹ
    encode gzip

    # Chuyển hướng các request API tới backend chạy trên VPS
    reverse_proxy /api/* http://206.189.156.230:8080

    # Phục vụ file web
    try_files {path} /index.html
    file_server
}
