axion.id.vn, www.axion.id.vn {
    # Thư mục chứa code web React
    root * /usr/share/caddy

    # Bật nén file cho nhẹ
    encode gzip

    # Chuyển hướng các request API tới backend chạy trên VPS
    handle /api/* {
        reverse_proxy http://206.189.156.230:8080
    }

    # Chuyển hướng các request media tới MinIO để tránh lỗi Mixed Content
    handle /media/* {
        reverse_proxy http://206.189.156.230:9000
    }

    # Phục vụ file web
    handle {
        try_files {path} /index.html
        file_server
    }
}
